<div class="jumbotron">
    <div class="row">
        <h1>Hello! Welcome to the Styleguide</h1>
        <h3 class="muted">AirU Web styles</h3>
        <p>This guide should be used for all style designs and as a reference for our product. Styles will be linked
            from this guide to our production product. Be sure to organize your less files into the appropriate modules,
            mixin, and variable folders. HTML from this project should not be used in production. Since these are
            examples of style and not functionality, there should be no javascript necessary.
        </p>
    </div>
</div>
